<script setup>
import {Head, useForm, router} from '@inertiajs/vue3';
import {computed} from "vue";
import {CForm, CFormInput, CFormSelect, CButton} from "@coreui/vue";
import {dateTime} from "@/formatters";
import {routeType} from "@/enums";

const props = defineProps({
  routes: Array,
});

const deletedRoutes = computed(() => props.routes.filter(route => route.deleted));
const newRoutes = computed(() => props.routes.filter(route => !route.processed && !route.deleted));

const form = useForm({
  type: routeType.HOST,
  ip: '',
  host: '',
  asn: '',
  description: '',
});

function routeTitle(route) {
  let val = '';
  switch (route.type) {
    case routeType.IP:
      val = route.ip;
      break;
    case routeType.HOST:
      val = route.host;
      break;
    case routeType.ASN:
      val = route.asn;
      break;
    default:
      val = '<unknown route type>';
  }
  return val;
}

function createRoute() {
  form.post('/routes', {
    onSuccess: () => {
      form.reset('ip', 'host', 'asn', 'description');
    },
  });
}

function deleteRoute(route) {
  router.delete(`/routes/${route.id}`, {
    preserveScroll: true,
  });
}

function restoreRoute(route) {
  router.post(`/routes/${route.id}/restore`, null, {
    preserveScroll: true,
  });
}

function updateConfig() {
  router.post('/routes/config/update', null, {
    preserveScroll: true,
  });
}

function clearRoutesCache() {
  router.post('/routes/clear-cache', null, {
    preserveScroll: true,
  });
}
</script>

<template>
  <Head title="Routes" />

  <h1>Routes</h1>

  <div class="card mb-4">
    <h5 class="card-header">Add route</h5>

    <div class="card-body">
      <CForm @submit.prevent="createRoute">
        <div class="row mb-3 g-2">
          <div class="col-md-4">
            <CFormSelect
                label="Type"
                v-model.number="form.type"
            >
              <option :value="routeType.IP">Ip</option>
              <option :value="routeType.HOST">Host</option>
              <option :value="routeType.ASN">ASN</option>
            </CFormSelect>
          </div>

          <div class="col-md-4">
            <CFormInput
                type="text"
                label="Ip"
                placeholder="10.0.0.0/24"
                v-model="form.ip"
                :invalid="form.errors.ip"
                :feedbackInvalid="form.errors.ip"
                v-if="form.type === routeType.IP"
            />

            <CFormInput
                type="text"
                label="Host"
                placeholder="example.com"
                v-model="form.host"
                :invalid="form.errors.host"
                :feedbackInvalid="form.errors.host"
                v-if="form.type === routeType.HOST"
            />

            <CFormInput
                type="text"
                label="ASN"
                placeholder="AS12345"
                v-model="form.asn"
                :invalid="form.errors.asn"
                :feedbackInvalid="form.errors.asn"
                v-if="form.type === routeType.ASN"
            />
          </div>

          <div class="col-md-4">
            <CFormInput
                type="text"
                label="Description"
                placeholder="optional"
                v-model="form.description"
                :invalid="form.errors.description"
                :feedbackInvalid="form.errors.description"
            />
          </div>
        </div>

        <CButton type="submit" color="primary" size="sm" :disabled="form.processing">Add</CButton>
      </CForm>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 order-xl-last">
      <div class="card sticky-top mb-4">
        <ul class="list-group list-group-flush">
          <li
              class="list-group-item d-flex justify-content-between align-items-center"
          >
            Total
            <span class="badge bg-secondary rounded-pill">{{ routes.length }}</span>
          </li>
          <li
              class="list-group-item d-flex justify-content-between align-items-center"
              v-if="deletedRoutes.length"
          >
            Deleted
            <span class="badge bg-danger rounded-pill">{{ deletedRoutes.length }}</span>
          </li>
          <li
              class="list-group-item d-flex justify-content-between align-items-center"
              v-if="newRoutes.length"
          >
            New
            <span class="badge bg-warning rounded-pill">{{ newRoutes.length }}</span>
          </li>
        </ul>

        <div class="card-footer">
          <button
              class="btn btn-primary btn-sm"
              @click="updateConfig"
          >Apply
          </button>

          <button
              class="btn btn-secondary btn-sm"
              @click="clearRoutesCache"
          >Clear cache
          </button>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
          <tr>
            <th style="width: 1%;"></th>
            <th>Route</th>
            <th>Description</th>
            <th>Created</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr
              v-for="route in routes"
              :key="route.id"
              :class="{
              'table-danger': route.deleted,
              'table-warning': !route.processed && !route.deleted
            }"
          >
            <td></td>
            <td>{{ routeTitle(route) }}</td>
            <td>{{ route.description }}</td>
            <td>{{ dateTime(route.created) }}</td>
            <td class="text-end">
              <button class="btn btn-light btn-micro" v-if="route.deleted" @click="restoreRoute(route)">restore</button>
              <button class="btn btn-danger btn-micro" v-else @click="deleteRoute(route)">delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
