<script setup>
import {Head, router} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";
import {dateTime} from "@/formatters.js";
import ConfirmationModal from "@/components/ConfirmationModal.vue";

const props = defineProps({
  clientName: String,
  linkID: Number,
  link: String,
  importLink: String,
  expireAt: String,
});

const input = ref(null);
onMounted(() => {
  input.value.focus();
  input.value.select();
});

const deleteConfirmationVisible = ref(false);

function showDeleteConfirmation() {
  deleteConfirmationVisible.value = true;
}

function hideDeleteConfirmation() {
  deleteConfirmationVisible.value = false;
}

function deleteLink() {
  router.delete(`/share-links/${props.linkID}`, {
    onFinish() {
      hideDeleteConfirmation();
    }
  });
}
</script>

<template>
  <Head title="Share config" />
  <h1 class="mb-4">Share config "{{ clientName }}"</h1>

  <p>Link expire at {{ dateTime(expireAt) }}</p>

  <input ref="input" type="text" class="form-control mb-3" :value="link" readonly>

  <p>
    <a :href="importLink">Import to OpenVPN Connect</a>
  </p>

  <button type="button" class="btn btn-danger" @click="showDeleteConfirmation">Delete</button>

  <ConfirmationModal :visible="deleteConfirmationVisible" confirm-color="danger" @close="hideDeleteConfirmation" @confirm="deleteLink">
    <template #title>Delete share link</template>
    <template #body>
      Are you sure you want to delete this link?
    </template>
  </ConfirmationModal>
</template>
