<script setup>
import {computed} from "vue";
import {usePage, router} from "@inertiajs/vue3";
import {cilMenu} from "@coreui/icons";
import {CHeader, CContainer, CHeaderToggler, CHeaderNav, CDropdown, CDropdownToggle, CDropdownMenu, CDropdownItem} from "@coreui/vue";
import {CIcon} from "@coreui/icons-vue";

const page = usePage();
const username = computed(() => {
  return page.props._auth.username;
});

function logout() {
  router.post('/auth/logout');
}
</script>

<template>
  <CHeader position="sticky" class="mb-4 p-0 border-bottom-0">
    <CContainer class="px-4 border-bottom" fluid>
      <CHeaderToggler @click="$emit('toggleSidebar')" style="margin-inline-start: -14px">
        <CIcon :icon="cilMenu" size="lg"/>
      </CHeaderToggler>

      <CHeaderNav class="d-flex">
        <CDropdown variant="nav-item">
          <CDropdownToggle color="secondary">{{ username }}</CDropdownToggle>
          <CDropdownMenu>
            <CDropdownItem as="button" @click="logout">Logout</CDropdownItem>
          </CDropdownMenu>
        </CDropdown>
      </CHeaderNav>
    </CContainer>
  </CHeader>
</template>
