<script setup>
import {Link} from "@inertiajs/vue3";
import {CSidebar, CSidebarHeader, CSidebarBrand, CCloseButton, CSidebarNav, CNavItem} from "@coreui/vue";
import {CIcon} from "@coreui/icons-vue";
import {cilSpeedometer, cilRouter, cilPeople} from "@coreui/icons";

defineProps({
  visible: Boolean,
});

const menu = [
  {
    title: 'Status',
    url: '/',
    icon: cilSpeedometer,
  },
  {
    title: 'Routes',
    url: '/routes',
    icon: cilRouter,
  },
  {
    title: 'Clients',
    url: '/clients',
    icon: cilPeople,
  }
];
</script>

<template>
  <CSidebar
      class="border-end"
      colorScheme="dark"
      position="fixed"
      :visible="visible"
      @visible-change="$emit('visibleChange')"
  >
    <CSidebarHeader class="border-bottom">
      <CSidebarBrand as="h5" class="m-0">OpenVPN</CSidebarBrand>
      <CCloseButton class="d-lg-none" dark @click="$emit('hide')"/>
    </CSidebarHeader>
    <CSidebarNav>
      <CNavItem v-for="item in menu">
        <Link class="nav-link" :class="{'active': $page.url === item.url}" :href="item.url">
          <CIcon class="nav-icon" :icon="item.icon" v-if="item.icon" />
          {{ item.title }}
        </Link>
      </CNavItem>
    </CSidebarNav>
  </CSidebar>
</template>
