<script setup>
import {CButton, CModal, CModalBody, CModalFooter, CModalHeader, CModalTitle} from "@coreui/vue";

defineProps({
  visible: {
    type: Boolean,
    default: false,
  },
  confirmColor: {
    type: String,
    default: 'primary',
  }
});

const emit = defineEmits(['close', 'confirm']);

function close() {
  emit('close');
}

function confirm() {
  emit('confirm');
}
</script>

<template>
  <CModal :visible="visible" @close="close" :transition="false">
      <CModalHeader>
        <CModalTitle><slot name="title" /></CModalTitle>
      </CModalHeader>
      <CModalBody>
        <slot name="body" />
      </CModalBody>
      <CModalFooter>
        <CButton color="secondary" @click="close">No</CButton>
        <CButton :color="confirmColor" @click="confirm">Yes</CButton>
      </CModalFooter>
  </CModal>
</template>
