<script setup>
import {usePage} from '@inertiajs/vue3';

const page = usePage();
</script>

<template>
  <div v-if="page.props.flash" class="alert" :class="'alert-'+page.props.flash.type" role="alert">
    {{ page.props.flash.text }}
  </div>
</template>
