<script setup>
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  TimeScale,
  PointElement,
  LineElement,
  Tooltip,
  Filler,
} from 'chart.js';
import 'chartjs-adapter-date-fns';
import {Line} from 'vue-chartjs';
import {computed, ref} from "vue";
import {bytes} from "@/formatters.js";

const props = defineProps({
  chartData: {
    type: Array,
    required: true
  },
  labels: {
    type: Array,
    required: true
  },
  borderColor: {
    type: String,
    default: '#007bff'
  },
  backgroundColor: {
    type: String,
    default: 'rgba(0, 123, 255, 0.2)'
  },
  title: {
    type: String,
    default: ''
  },
});

ChartJS.register(
    CategoryScale,
    LinearScale,
    TimeScale,
    PointElement,
    LineElement,
    Tooltip,
    Filler
);

const currentValue = computed(() => {
  return props.chartData.length ? props.chartData[props.chartData.length - 1] : 0;
});

const data = computed(() => {
  return {
    labels: props.labels,
    datasets: [
      {
        data: props.chartData,
        borderColor: props.borderColor,
        backgroundColor: props.backgroundColor,
        borderWidth: 1,
        pointRadius: 0,
        fill: 'start',
      }
    ]
  }
});
const options = ref({
  animation: false,
  scales: {
    x: {
      type: 'time',
      time: {
        displayFormats: {
          datetime: 'dd.MM.yyyy HH:mm:ss',
          minute: 'HH:mm'
        },
        unit: 'minute'
      }
    },
    y: {
      beginAtZero: true,
      ticks: {
        callback: function (value, index, values) {
          return bytes(value);
        }
      }

    }
  },
  plugins: {
    legend: {
      display: false
    },
    tooltip: {
      intersect: false,
      callbacks: {
        label: function (context) {
          return bytes(context.parsed.y);
        }
      }
    }
  },
});
</script>

<template>
  <p>{{ title }}{{ bytes(currentValue) }}</p>

  <Line :data="data" :options="options"/>
</template>
