<script setup>
import {ref, watch} from "vue";
import NetworkTrafficChart from "@/components/NetworkTrafficChart.vue";

const props = defineProps({
  traffic: {
    type: Array,
    required: true
  },
});

const labels = ref([]);
const rx = ref([]);
const tx = ref([]);
watch(() => props.traffic, (val) => {
  const labelsArr = [];
  const rxArr = [];
  const txArr = [];
  for (let i = 1; i < val.length; i++) {
    labelsArr.push(val[i].ts * 1000);
    rxArr.push(Math.max(0, val[i].rx - val[i - 1].rx));
    txArr.push(Math.max(0, val[i].tx - val[i - 1].tx));
  }
  labels.value = labelsArr;
  rx.value = rxArr;
  tx.value = txArr;
}, { immediate: true });
</script>

<template>
<div class="row">
  <div class="col-md-6">
    <NetworkTrafficChart
        v-if="rx.length"
        :labels="labels"
        :chart-data="rx"
        title="Download: "
    />
  </div>

  <div class="col-md-6">
    <NetworkTrafficChart
        v-if="tx.length"
        :labels="labels"
        :chart-data="tx"
        border-color="#dc3545"
        background-color="rgba(220, 53, 69, 0.1)"
        title="Upload: "
    />
  </div>
</div>
</template>
