// Here you can add other styles
.card-table tr th:first-child,
.card-table tr th:last-child,
.card-table tr td:first-child,
.card-table tr td:last-child {
  padding-left: var(--cui-card-cap-padding-x);
  padding-right: var(--cui-card-cap-padding-x);
}

.btn-micro {
  padding: 0.2rem;
  font-size: 0.8rem;
  line-height: 1.2;
  border-radius: 0.2rem;
}
