<script setup>
import {ref} from "vue";
import {Head, Link, useForm, router} from "@inertiajs/vue3";
import {CForm, CFormInput, CButton, CModal, CModalHeader, CModalTitle, CModalBody, CModalFooter, CDropdown,
  CDropdownToggle, CDropdownMenu} from "@coreui/vue";
import {dateTime} from "@/formatters";
import {cilCog, cilCloudDownload, cilSync, cilOptions, cilBan, cilShareAlt} from "@coreui/icons";
import {CIcon} from "@coreui/icons-vue";
import ConfirmationModal from "@/components/ConfirmationModal.vue";

defineProps({
  clients: Array,
});

const createForm = useForm({
  name: '',
  password: '',
});

function createClient() {
  createForm.post('/clients', {
    onSuccess: () => {
      createForm.reset();
    }
  });
}

function downloadConfig(client) {
  window.location = `/clients/${client.name}/connect-config/download`;
}

const reissueModalVisible = ref(false);
const selectedClient = ref(null);

const reissueForm = useForm({
  password: '',
});

function showReissueModal(client) {
  selectedClient.value = client;
  reissueModalVisible.value = true;
}

function hideReissueModal() {
  reissueModalVisible.value = false;
  selectedClient.value = null;
}

function reissueCert() {
  if (selectedClient.value != null) {
    reissueForm.post(`/clients/${selectedClient.value.name}/reissue-cert`, {
      onSuccess() {
        hideReissueModal();
      }
    })
  }
}

const revokeModalVisible = ref(false);

function showRevokeModal(client) {
  selectedClient.value = client;
  revokeModalVisible.value = true;
}

function hideRevokeModal() {
  revokeModalVisible.value = false;
  selectedClient.value = null;
}

function revokeCert() {
  if (selectedClient.value != null) {
    router.post(`/clients/${selectedClient.value.name}/revoke-cert`, {}, {
      onFinish() {
        hideRevokeModal();
      }
    });
  }
}

function createShareLink(client) {
  router.post(`/clients/${client.name}/share`)
}
</script>

<template>
  <Head title="Clients" />

  <h1>Clients</h1>

  <div class="card mb-4">
    <h5 class="card-header">Add client</h5>

    <div class="card-body">
      <CForm @submit.prevent="createClient">
        <div class="row mb-3 g-2">
          <div class="col-md-6">
            <CFormInput
                type="text"
                label="Name"
                placeholder="my-iphone"
                v-model="createForm.name"
                :invalid="createForm.errors.name"
                :feedbackInvalid="createForm.errors.name"
            />
          </div>

          <div class="col-md-6">
            <CFormInput
                type="text"
                label="Password"
                placeholder="optional"
                v-model="createForm.password"
                :invalid="createForm.errors.password"
                :feedbackInvalid="createForm.errors.password"
            />
          </div>
        </div>

        <CButton type="submit" color="primary" size="sm" :disabled="createForm.processing">Add</CButton>
      </CForm>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Expire at</th>
        <th>Revoke date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr
          v-for="client in clients"
          :key="client.id"
      >
        <td>{{ client.name }}</td>
        <td>
          <span
              class="badge bg-success"
              v-if="client.cert.valid"
          >valid</span>
          <span
              class="badge bg-danger"
              v-else
          >invalid</span>
        </td>
        <td>{{ dateTime(client.cert.expireAt) }}</td>
        <td>{{ dateTime(client.cert.revoked) }}</td>
        <td class="text-end">
          <CDropdown variant="dropdown">
            <CDropdownToggle :caret="false" class="btn-sm"><CIcon :icon="cilOptions" /></CDropdownToggle>
            <CDropdownMenu>
              <Link
                  class="dropdown-item"
                  :href="`/clients/${client.name}`"
              ><CIcon :icon="cilCog" /> Options</Link>

              <button
                  class="dropdown-item"
                  @click="downloadConfig(client)"
                  v-if="client.cert.valid"
              ><CIcon :icon="cilCloudDownload" /> Download config</button>

              <button
                  class="dropdown-item"
                  @click="showReissueModal(client)"
              ><CIcon :icon="cilSync" /> Reissue</button>

              <button
                  class="dropdown-item"
                  @click="createShareLink(client)"
                  v-if="client.cert.valid"
              ><CIcon :icon="cilShareAlt" /> Share</button>

              <button
                  class="dropdown-item"
                  @click="showRevokeModal(client)"
                  v-if="client.cert.valid"
              ><CIcon :icon="cilBan" /> Revoke</button>
            </CDropdownMenu>
          </CDropdown>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <CModal :visible="reissueModalVisible" @close="hideReissueModal" :transition="false">
    <CForm @submit.prevent="reissueCert">
    <CModalHeader>
      <CModalTitle>Reissue certificate "{{ selectedClient.name }}"</CModalTitle>
    </CModalHeader>
    <CModalBody>

      <CFormInput
          type="text"
          label="Password"
          placeholder="optional"
          v-model="reissueForm.password"
          :invalid="reissueForm.errors.password"
          :feedbackInvalid="reissueForm.errors.password"
      />

    </CModalBody>
    <CModalFooter>
      <CButton color="secondary" @click="hideReissueModal">Cancel</CButton>
      <CButton color="primary" type="submit" :disabled="reissueForm.processing">OK</CButton>
    </CModalFooter>
    </CForm>
  </CModal>

  <ConfirmationModal :visible="revokeModalVisible" confirm-color="danger" @close="hideRevokeModal" @confirm="revokeCert">
    <template #title>Revoke certificate</template>
    <template #body>
      Are you sure you want to revoke certificate "{{ selectedClient.name }}"?
    </template>
  </ConfirmationModal>

</template>
