<script setup>
import {Head, useForm, Link} from "@inertiajs/vue3";
import {CForm, CFormInput, CButton, CFormCheck} from "@coreui/vue";

const props = defineProps({
  client: Object,
});

const form = useForm({
  routingAllTraffic: props.client.routingAllTraffic,
  primaryDns: props.client.primaryDns,
  secondaryDns: props.client.secondaryDns,
});

function save() {
  form.post(`/clients/${props.client.name}`);
}
</script>

<template>
  <Head :title="client.name" />

  <h1 class="mb-4">{{ client.name }}</h1>

  <CForm class="row" @submit.prevent="save">
    <div class="col-12">
      <CFormCheck
          id="routingAllTraffic"
          label="Routing all client traffic through the VPN"
          v-model="form.routingAllTraffic"
          :invalid="form.errors.routingAllTraffic"
          :feedbackInvalid="form.errors.routingAllTraffic"
      />
    </div>

    <div class="col-md-6 mb-3">
      <CFormInput
          type="text"
          label="Primary DNS server"
          v-model="form.primaryDns"
          :invalid="form.errors.primaryDns"
          :feedbackInvalid="form.errors.primaryDns"
      />
    </div>

    <div class="col-md-6 mb-3">
      <CFormInput
          type="text"
          label="Secondary DNS server"
          v-model="form.secondaryDns"
          :invalid="form.errors.secondaryDns"
          :feedbackInvalid="form.errors.secondaryDns"
      />
    </div>

    <div class="col-12">
      <CButton type="submit" color="primary" :disabled="form.processing">Save</CButton>
      <Link class="btn btn-secondary" href="/clients">Cancel</Link>
    </div>
  </CForm>
</template>
