<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ .vite.Tags }}
</head>
<body>
<div id="app" data-page="{{ json .page }}"></div>
</body>
</html>
