<script setup>
import {ref} from "vue";
import FlashMessages from "@/components/FlashMessages.vue";
import AppSidebar from "@/components/AppSidebar.vue";
import AppHeader from "@/components/AppHeader.vue";
import {CContainer} from "@coreui/vue";
import {usePage} from "@inertiajs/vue3";

const sidebarVisible = ref(true);
const page = usePage();

function toggleSidebar() {
  sidebarVisible.value = !sidebarVisible.value;
}

function updateSidebarVisible(event) {
  sidebarVisible.value = event;
}
</script>

<template>
  <div>
    <AppSidebar
      :visible="sidebarVisible"
      @visible-change="updateSidebarVisible"
      @hide="sidebarVisible = false"
    />

    <div class="wrapper d-flex flex-column min-vh-100">
      <AppHeader @toggle-sidebar="toggleSidebar" />

      <div class="body flex-grow-1">
        <CContainer class="px-4 pb-4" xxl>
          <FlashMessages />
          <slot/>
        </CContainer>
      </div>

      <div class="footer px-4">
        <div><a href="https://odd.su" target="_blank">OddLabs</a> &copy;</div>
        <div class="ms-auto">{{ page.props._version }}</div>
      </div>
    </div>
  </div>
</template>
