<script setup>
import {Head, useForm} from '@inertiajs/vue3';
import {CContainer, CRow, CCol, CCard, CCardBody, CForm, CInputGroup, CInputGroupText, CFormInput, CButton} from "@coreui/vue";
import {CIcon} from "@coreui/icons-vue";
import {cilUser, cilLockLocked} from "@coreui/icons";
import EmptyLayout from "@/layouts/EmptyLayout.vue";
import FlashMessages from "@/components/FlashMessages.vue";

defineOptions({
  layout: EmptyLayout,
});

const form = useForm({
  username: '',
  password: '',
});

function login() {
  form.post('/auth/login');
}
</script>

<template>
  <Head title="Login" />

  <div class="wrapper min-vh-100 d-flex flex-row align-items-center bg-light">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol :md="6">

          <CCard class="p-4">
            <CCardBody>
              <FlashMessages />
              <CForm @submit.prevent="login">
                <h1>OpenVPN</h1>
                <p class="text-body-secondary">Sign In to your account</p>
                <CInputGroup class="mb-3">
                  <CInputGroupText>
                    <CIcon :icon="cilUser" />
                  </CInputGroupText>
                  <CFormInput
                      placeholder="Username"
                      autocomplete="username"
                      v-model="form.username"
                      :invalid="form.errors.username"
                      :feedbackInvalid="form.errors.username"
                  />
                </CInputGroup>
                <CInputGroup class="mb-4">
                  <CInputGroupText>
                    <CIcon :icon="cilLockLocked" />
                  </CInputGroupText>
                  <CFormInput
                      type="password"
                      placeholder="Password"
                      autocomplete="current-password"
                      v-model="form.password"
                      :invalid="form.errors.password"
                      :feedbackInvalid="form.errors.password"
                  />
                </CInputGroup>

                <CButton type="submit" color="primary">Login</CButton>
              </CForm>
            </CCardBody>
          </CCard>

        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>
