<script setup>
import {onMounted, onUnmounted} from "vue";
import {router} from "@inertiajs/vue3";
import {CIcon} from "@coreui/icons-vue";
import {cilUser, cilChevronBottom, cilChevronTop} from "@coreui/icons";
import {bytes, dateTime, duration} from "@/formatters";
import NetworkTraffic from "@/components/NetworkTraffic.vue";

defineProps({
  serverVersion: String,
  stats: Object,
  connections: Array,
  traffic: Array,
});

let timer;
onMounted(() => {
  timer = setInterval(() => {
    router.reload();
  }, 5000);
});
onUnmounted(() => {
  clearInterval(timer);
});

function killConnection(connName) {
  router.post(`/connections/${connName}/kill`);
}
</script>

<template>
  <h1>Status</h1>

  <div class="card mb-4">
    <h5 class="card-header">Server info</h5>
    <div class="card-body">
      <p>{{ serverVersion }}</p>

      <ul class="server-stats mb-4">
        <li title="Connections"><CIcon :icon="cilUser" /> {{ stats.clientsCount }}</li>
        <li title="Downloaded"><CIcon :icon="cilChevronBottom" /> {{ bytes(stats.bytesIn) }}</li>
        <li title="Uploaded"><CIcon :icon="cilChevronTop" /> {{ bytes(stats.bytesOut) }}</li>
      </ul>

      <NetworkTraffic :traffic="traffic" />
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">Connections</h5>

    <div class="table-responsive">
      <table class="table table-sm mb-0 card-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Real address</th>
          <th>Virtual address</th>
          <th>Received</th>
          <th>Sent</th>
          <th>Connected</th>
          <th>Time online</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td class="text-center" colspan="8" v-if="!connections.length">No active connections</td>
        </tr>
        <tr
            v-for="conn in connections"
        >
          <td>{{ conn.name }}</td>
          <td>{{ conn.realAddress }}</td>
          <td>{{ conn.virtualAddress }}</td>
          <td>{{ bytes(conn.bytesReceived) }}</td>
          <td>{{ bytes(conn.bytesSent) }}</td>
          <td>{{ dateTime(conn.connectedDate) }}</td>
          <td>{{ duration(conn.connectedDate) }}</td>
          <td class="text-end">
            <button class="btn btn-danger btn-micro" @click="killConnection(conn.name)">kill</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>

<style scoped>
.server-stats {
  list-style: none;
  margin: 0;
  padding: 0;
}
.server-stats > li {
  display: inline-block;
  margin-right: 20px;
}
</style>
